.wrapper {
  @include container;
  margin-bottom: 80px;
}

.list {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 20px;
  margin-bottom: 30px;

  @media (max-width: $tablet-width) {
    grid-template-columns: repeat(2, 1fr);
  }

  @media (max-width: $mobile-width) {
    display: flex;
    flex-direction: column;
  }
}

.paginationWrapper {
  display: flex;
  justify-content: flex-end;
}
