.wrapper {
  @include container;
  margin-bottom: 80px;
}

.list {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 20px;
  margin-bottom: 30px;
}

.item {
  border-radius: 16px;
  background: var(--basic-white);
  box-shadow: var(--box-shadow);
  position: relative;
  height: auto;
  overflow: hidden;
  transition: 0.25s box-shadow ease-in-out;

  span {
    color: rgba(var(--basic-black), 0.6);
    font-family: var(--open-sans-font);
    font-size: 12px;
    font-weight: 600;
    text-transform: uppercase;
    margin-bottom: 18px;
    display: block;
  }

  &:hover {
    box-shadow: 0 0 10px 4px rgba(0, 0, 0, 0.20);
  }
}

.imageWrapper {
  position: relative;
  width: 100%;
  height: 200px;

  &::before {
    content: "";
    position: absolute;
    width: 100%;
    height: 100%;
    left: 0;
    top: 0;
    background: var(--shadow-image);
    z-index: 2;
  }

  .image {
    position: relative;
    object-fit: cover;
  }
}

.infoWrapper {
  padding: 26px;
}

.paginationWrapper {
  display: flex;
  justify-content: flex-end;
}
