.ant-select-selector {
  background: #F2F4FF !important;
  border: 0 !important;
  //color: #ffffff !important;
}

.ant-select-arrow {
  //color: #ffffff !important;
}

.ant-select-open {
  //opacity: 0.4 !important;
  //color: #ffffff !important;
}

.ant-pagination-item {

  a {
    font-family: var(--open-sans-font);

  }

  //&:hover {
  //  a {
  //    color: #832AB9 !important;
  //  }
  //}

}

.ant-pagination-item-link-icon {
  color: #832AB990 !important;
}

.ant-pagination-item-ellipsis {
  color: rgba(var(--basic-black), 0.2) !important;
}

.ant-pagination-item-active {
  border: none !important;
  background: #832AB990 !important;

  a {
    color: #ffffff !important;


  }
}
