.ant-select-selector {
  background: #f2f4ff !important;
  border: 0 !important;
}

.ant-pagination-item a {
  font-family: var(--open-sans-font);
}

.ant-pagination-item-link-icon {
  color: var(--basic-purple) !important;
}

.ant-pagination-item-ellipsis {
  color: rgba(var(--basic-black), 0.2) !important;
}

.ant-pagination-item-active {
  border: none !important;
  background: var(--basic-purple) !important;

  a {
    color: #ffffff !important;
  }
}
