.wrapper {
  margin-top: 60px;
  background: #f2f4f9;
  margin-bottom: 40px;

  @media (max-width: $mobile-width) {
    margin-top: 20px;
  }
}

.backWrapper {
  @include container;
}

.innerWrapper {
  @include container;
  padding-top: 60px;
  padding-bottom: 60px;
  display: flex;
  gap: 40px;

  @media (max-width: $lg-tablet-width) {
    gap: 20px;
    padding-top: 30px;
    padding-bottom: 30px;
  }

  @media (max-width: $tablet-width) {
    flex-direction: column;
    align-items: center;
  }
}

.imageWrapper {
  position: relative;
  width: 440px;
  height: 100%;
  border-radius: 4px;
  overflow: hidden;
  box-shadow: 0 4px 40px 0 rgba(0, 0, 0, 0.40);
  flex-shrink: 0;

  @media (max-width: $lg-tablet-width) {
    width: 340px;
  }

  @media (max-width: $mobile-width) {
    width: auto;
  }
}

.image {
  object-fit: cover;
  height: 100%;
}

.infoWrapper {
  display: flex;
  flex-direction: column;
  gap: 20px;
  padding-top: 16px;
  padding-bottom: 16px;
  flex-grow: 1;

  h2 {
    font-size: 26px;

    @media (max-width: $lg-tablet-width) {
      font-size: 20px;
    }

    @media (max-width: $tablet-width) {
      text-align: center;
    }
  }

  @media (max-width: $mobile-width) {
    padding-bottom: 0;
  }
}

.dateWrapper {
  display: flex;
  justify-content: space-between;

  span {
    color: rgba($basic-black, 0.6);
    font-family: var(--open-sans-font);
    font-size: 16px;
    font-weight: 600;
    text-transform: uppercase;
  }
}

.views {
  display: flex;
  gap: 8px;
  align-items: center;
  color: inherit;
  font-size: 12px;
  opacity: 0.7;
}

.list {
  display: flex;
  gap: 14px;
  margin-bottom: 40px;

  @media (max-width: $tablet-width) {
    justify-content: center;
  }
}

.item {
  padding: 6px 12px;
  border-radius: 8px;
  background: #ffffff20;
  box-shadow: 0 2px 14px 0 rgba(0, 0, 0, 0.60);
  color: #ffffff;
  font-size: 14px;
}

.link {
  display: flex;
  align-items: center;
  gap: 8px;
  color: $link-color;

  svg {
    padding-bottom: 2px;
    transform: rotate(180deg);
    fill: $link-color;
    transition: 0.25s transform ease-in-out;
  }

  &:hover {
    svg {
      transform: translate(4px) rotate(180deg);
    }
  }

  @media (max-width: $tablet-width) {
    justify-content: flex-end;
  }
}
